<div class="menu_toolbar d-flex d-sm-none">
  <div class="btn_bar">
    <span class="iconmenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <div class="btn_cart">
    <a href="javascript:void(0)" title="" class="js-call-minicart">{% if settings.pia_addcart_svg != blank %}
      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
      {% else %}
      <i class="{{settings.pia_addcart}}"></i>
      {% endif %}
      <span class="count_pr_incart enj-cartcount">{{cart.item_count }}</span>
    </a>
  </div>

  <div class="btn_account">
    <a href="/account" style="font-size: 20px">
      <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
      <svg xmlns="http://www.w3.org/2000/svg" width="18.729" height="23.831" viewBox="0 0 18.729 23.831">
        <path data-name="Path 2044" d="M9.561 11.121a5.561 5.561 0 1 1 5.561-5.561 5.561 5.561 0 0 1-5.561 5.561zm0-9.532a3.972 3.972 0 1 0 3.972 3.972 3.972 3.972 0 0 0-3.972-3.972z" transform="translate(-.425)" style="fill:#ffffff"/>
        <path data-name="Path 2045" d="M16.458 27.327H2.27A2.2 2.2 0 0 1 0 25.208v-3.177A5.226 5.226 0 0 1 5.391 17h7.946a5.226 5.226 0 0 1 5.391 5.031v3.177a2.2 2.2 0 0 1-2.27 2.119zM5.391 18.589A3.575 3.575 0 0 0 1.7 22.031v3.177a.55.55 0 0 0 .568.53h14.19a.55.55 0 0 0 .568-.53v-3.177a3.575 3.575 0 0 0-3.689-3.442z" transform="translate(0 -3.496)" style="fill:#ffffff"/>
      </svg>
    </a>
  </div>

  <div class="btn_backtop set-22-svg fill-white" id="back-to-top">
    <svg xmlns="http://www.w3.org/2000/svg" id="Layer" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512"><path d="m32 56c1.104 0 2-.896 2-2v-39.899l14.552 15.278c.393.413.92.621 1.448.621.495 0 .992-.183 1.379-.552.8-.762.831-2.028.069-2.828l-16.619-17.448c-.756-.755-1.76-1.172-2.829-1.172s-2.073.417-2.862 1.207l-16.586 17.414c-.762.8-.731 2.066.069 2.828s2.067.731 2.828-.069l14.551-15.342v39.962c0 1.104.896 2 2 2z"/></svg>
  </div>
</div>