<div class="ciloe-size-guide relative">
  <a href="#" class="btn_size_guide">Size guide</a>
  <div class="content_size_guide fixed text-center">
    <div class="layout_size_guide text-center">
      <div class="top-bar close_size_guide">
        <a href="#" class="set-16-svg">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 298.667 298.667" style="enable-background:new 0 0 298.667 298.667;" xml:space="preserve">
              <g>
                <g>
                  <polygon points="298.667,30.187 268.48,0 149.333,119.147 30.187,0 0,30.187 119.147,149.333 0,268.48 30.187,298.667     149.333,179.52 268.48,298.667 298.667,268.48 179.52,149.333   "></polygon>
                </g>
              </g>

            </svg>
        </a>
      </div>
      <div class="header-bar">
        <h5> <img src="{{ 'Forma-1.png' | asset_img_url: "152x152" }}">Shoes Size Guide</h5>
      </div>
      <div class="layout-container">
        <div class="relative inline-block">
          <table class="table">
            <thead>
            <th>US</th>
            <th>US KIDS</th>
            <th>US MEN</th>
            <th>US WOMEN</th>
            <th>UK</th>
            <th>UK KIDS</th>
            <th>EU</th>
            </thead>
            <tbody>
            <tr>
              <td>4.5US</td>
              <td>US 4K</td>
              <td>US M 4</td>
              <td>US W 4.5</td>
              <td>UK 3.5</td>
              <td>UK 10.5K</td>
              <td>EU 36</td>
            </tr>
            <tr>
              <td>5US</td>
              <td>US 5K</td>
              <td>US M 4.5</td>
              <td>US W 5</td>
              <td>UK 4</td>
              <td>UK 11K</td>
              <td>EU 36.5</td>
            </tr>
            <tr>
              <td>5.5US</td>
              <td>US 5.5K</td>
              <td>US M 5</td>
              <td>US W 5.5</td>
              <td>UK 4.5</td>
              <td>UK 11.5K</td>
              <td>EU 37</td>
            </tr>
            <tr>
              <td>6US</td>
              <td>US 6K</td>
              <td>US M 5.5</td>
              <td>US W 6</td>
              <td>UK 5</td>
              <td>UK 12K</td>
              <td>EU 37.5</td>
            </tr>
            <tr>
              <td>6.5US</td>
              <td>US 6.5K</td>
              <td>US M 6</td>
              <td>US W 6.5</td>
              <td>UK 5.5</td>
              <td>UK 12.5K</td>
              <td>EU 38</td>
            </tr>
            <tr>
              <td>7US</td>
              <td>US 7K</td>
              <td>US M 6.5</td>
              <td>US W 7</td>
              <td>UK 6</td>
              <td>UK 13K</td>
              <td>EU 38.5</td>
            </tr>
            <tr>
              <td>7.5US</td>
              <td>US 7.5K</td>
              <td>US M 7</td>
              <td>US W 7.5</td>
              <td>UK 6.5</td>
              <td>UK 13.5K</td>
              <td>EU 39</td>
            </tr>
            <tr>
              <td>8US</td>
              <td>US 8K</td>
              <td>US M 7.5</td>
              <td>US W 8</td>
              <td>UK 7</td>
              <td>UK 1Y</td>
              <td>EU 40</td>
            </tr>
            <tr>
              <td>8.5US</td>
              <td>US 8.5K</td>
              <td>US M 8</td>
              <td>US W 8.5</td>
              <td>UK 7.5</td>
              <td>UK 1.5Y</td>
              <td>EU 40.5</td>
            </tr>
            <tr>
              <td>9US</td>
              <td>US 9K</td>
              <td>US M 8.5</td>
              <td>US W 9</td>
              <td>UK 8</td>
              <td>UK 2Y</td>
              <td>EU 41</td>
            </tr>
            <tr>
              <td>9.5US</td>
              <td>US 9.5K</td>
              <td>US M 9</td>
              <td>US W 9.5</td>
              <td>UK 8.5</td>
              <td>UK 2.5Y</td>
              <td>EU 42</td>
            </tr>
            <tr>
              <td>10US</td>
              <td>US 10K</td>
              <td>US M 9.5</td>
              <td>US W 10</td>
              <td>UK 9</td>
              <td>UK 3Y</td>
              <td>EU 42.5</td>
            </tr>
            <tr>
              <td>10.5US</td>
              <td>US 11K</td>
              <td>US M 10</td>
              <td>US W 10.5</td>
              <td>UK 9.5</td>
              <td></td>
              <td>EU 43</td>
            </tr>
            <tr>
              <td>11US</td>
              <td>US 12K</td>
              <td>US M 10.5</td>
              <td>US W 11</td>
              <td>UK 10</td>
              <td></td>
              <td>EU 43</td>
            </tr>
            <tr>
              <td>11.5US</td>
              <td>US 13K</td>
              <td>US M 11</td>
              <td>US W 11.5</td>
              <td>UK 10.5</td>
              <td></td>
              <td>EU 44</td>
            </tr>
            <tr>
              <td>12US</td>
              <td>1Y</td>
              <td>US M 11.5</td>
              <td>US W 12</td>
              <td>UK 11</td>
              <td></td>
              <td>EU 44.5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 12</td>
              <td>US W 12.5</td>
              <td>UK 11.5</td>
              <td></td>
              <td>EU 45</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 12.5</td>
              <td>US W 13</td>
              <td>UK 12</td>
              <td></td>
              <td>EU 45.5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 13</td>
              <td>US W 13.5</td>
              <td>UK 13</td>
              <td></td>
              <td>EU 46</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 14</td>
              <td>US W 14</td>
              <td>UK 14</td>
              <td></td>
              <td>EU 47</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 15</td>
              <td>US W 14.5</td>
              <td>UK 15</td>
              <td></td>
              <td>EU 47.5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 16</td>
              <td>US W 15.5</td>
              <td>UK 16</td>
              <td></td>
              <td>EU 48.5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 17</td>
              <td>US W 16.5</td>
              <td>UK 17</td>
              <td></td>
              <td>EU 49.5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>US M 18</td>
              <td>US W 17.5</td>
              <td></td>
              <td></td>
              <td>EU 50.5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>US W 18.5</td>
              <td></td>
              <td></td>
              <td>EU 51.5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>US W 19.5</td>
              <td></td>
              <td></td>
              <td>EU 52.5</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer>
        <p>HAVING ISSUES WITH SIZE?</p>
        <p>Please check the {{ 'Return Policy' | link_to: '/pages/returns-information' }} for more information.</p>
      </footer>
    </div>
  </div>

</div>
<div class="overlay"></div>
<style>
    .ciloe-size-guide {
        padding-top: 20px;
    }

    .ciloe-size-guide .close_size_guide {
        top: 0;
        right: -30px;
    }

    .ciloe-size-guide .close_size_guide a {
        color: #fff;
    }

    .ciloe-size-guide .btn_size_guide {
        font-size: 14px;
        line-height: 24px;
        padding-left: 31px;
        font-weight: 400;
        cursor: pointer;
        background: url(//cdn.shopify.com/s/files/1/0082/8509/3968/t/13/assets/Forma-1.png?216455) no-repeat;
        min-width: 150px;
        background-position-y: 8px;
        background-position-x: 0px;
        min-height: 42px;
        display: inline-flex;
        align-items: center;
    }

    .ciloe-size-guide .layout_size_guide {
        background-color: #fff;
    }

    .ciloe-size-guide .layout_size_guide footer {
        padding-bottom: 15px;
    }

    .ciloe-size-guide .layout_size_guide .layout-container {
        overflow: auto;
    }
    .ciloe-size-guide .layout_size_guide .inline-block {
        padding: 0 50px;
    }

    .ciloe-size-guide .layout_size_guide .top-bar {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

    .ciloe-size-guide .layout_size_guide .header-bar {
        margin-bottom: 30px;
    }

    .ciloe-size-guide .layout_size_guide .header-bar img {
        margin-top: -6px;
        margin-right: 15px;
    }

    .ciloe-size-guide .content_size_guide {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 999999;
        display: inline-block;
        transform: scale(0);
    }

    .ciloe-size-guide .content_size_guide .table {
    }
    .ciloe-size-guide .content_size_guide .table th {
        background-color: #e6eaf09c;
        padding: 15px 30px;
        border-left: 1px solid #dee2e6;
    }
    .ciloe-size-guide .content_size_guide .table th:last-child {
        border-right: 1px solid #dee2e6;
    }
    .ciloe-size-guide .content_size_guide .table tr:last-child td {
        border-bottom: 1px solid #dee2e6;
    }
    .ciloe-size-guide .content_size_guide .table tr:nth-child(even) td {
        background-color: #cccccc29;
    }
    .ciloe-size-guide .content_size_guide .table tr td {
        padding: 10px 30px;
        text-align: center;
        border-left: 1px solid #dee2e6;
    }
    .ciloe-size-guide .content_size_guide .table tr td:last-child {
        border-right: 1px solid #dee2e6;
    }

    .ciloe-size-guide .content_size_guide .layout_size_guide {
        max-width: 750px;
        margin: 5% auto;
    }

    .ciloe-size-guide .content_size_guide.active {
        transform: scale(1);
    }

    @media (max-width: 767px) {
        .ciloe-size-guide .content_size_guide .layout_size_guide {
            max-width: 90%;
        }
    }

    @media (min-width: 767px) and (max-width: 992px) {
        .ciloe-size-guide .content_size_guide .layout_size_guide {
            max-width: 600px;
        }
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 30;
        background: rgba(29, 29, 31, 0.6);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
</style>