<div class="wrap-bread-crumb breadcrumb_collection2">
  <div class="text-center bg-breadcrumb">
    <div class="title-page">

      <h2 class="">{{page.title}}</h2>

    </div>
    {% include 'breadcrumb' %}
  </div>
</div>
<section>
  <div class="delivery-info-pages">
    <div class="container container-v2">
      <div class="" style="background-image : url({{ 'delivery-info-top.png' | asset_url }})">
        <div style="max-width: 900px;margin: auto;padding: 140px 0;">
      
        <div>
          Free delivery available for orders above country threshold. Please see below for further information.
          mena.feelunique.com will not deal or provide any services or products to any of OFAC (Office of Foreign Assets Control) sanctions countries in accordance with the law of UAE.</div>
        <div>Multiple transactions may result in multiple postings to the cardholder’s monthly statement.
        Express tracked: Delivery timescale is 5 working days for orders placed by 8 pm Monday-Thursday after dispatch.
        </div>
  
        </div>
      </div>
      <div style="max-width: 900px;margin: auto;padding-top: 66px">
        <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap;">
          <div style="width: 50px;background-color: #dde2e7;"></div>
          <div style="flex-grow: 1;max-width: 800px;border: 1px solid #dde2e794; padding: 10px">
            <table class="page-table">
              <tr>
                <td style="text-align: center" colspan="3">Shipping Fee</td>
              </tr>
              <tr>
                <td style="text-align: center">Market</td>
                <td style="text-align: center">Local Seller</td>
                <td style="text-align: center">Fragrance</td>
              </tr>
              <tr>
                <td style="text-align: center">UAE</td>
                <td style="text-align: center">AED 15</td>
                <td style="text-align: center">AED 15</td>
              </tr>
              <tr>
                <td style="text-align: center">&nbsp;</td>
                <td style="text-align: center">&nbsp;</td>
                <td style="text-align: center">&nbsp;</td>
              </tr>
            </table>
          </div>
          <div style="width: 50px"></div>
        </div>
        <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap; padding: 20px 0">
          <div style="width: 50px;"></div>
          <div style="flex-grow: 1;max-width: 800px;">
            Cash On Delivery charges:
          </div>
          <div style="width: 50px"></div>
        </div>
        <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap;">
          <div style="width: 50px;"></div>
          <div style="flex-grow: 1;max-width: 800px;border: 1px solid #edece594; padding: 10px">
            <table class="page-table">
              <tr>
                <td style="text-align: center">Destination</td>
                <td style="text-align: center">Seller/Product</td>
                <td style="text-align: center">COD Fee</td>
              </tr>
              <tr>
                <td style="text-align: center">UAE</td>
                <td style="text-align: center">Local Seller and Fragrance</td>
                <td style="text-align: center">AED 10</td>
              </tr>
              <tr>
                <td style="text-align: center">&nbsp;</td>
                <td style="text-align: center">&nbsp;</td>
                <td style="text-align: center">&nbsp;</td>
              </tr>
            </table>
          </div>
          <div style="width: 50px; background-color: #edece5;"></div>
        </div>
        <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap; padding: 20px 0">
          <div style="width: 50px;"></div>
          <div style="flex-grow: 1;max-width: 800px;">
            Customs duties are implied as follows:
          </div>
          <div style="width: 50px"></div>
        </div>
        <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap;">
          <div style="width: 50px; background-color: #e7e7e7;"></div>
          <div style="flex-grow: 1;max-width: 800px;border: 1px solid #e7e7e794; padding: 10px">
            <table class="page-table">
              <tr>
                <td style="text-align: center" colspan="3">Duties and Taxes</td>
              </tr>
              <tr>
                <td style="text-align: center">Market</td>
                <td style="text-align: center">Duties and Taxes</td>
                <td style="text-align: center">Conditions</td>
              </tr>
              <tr>
                <td style="text-align: center">UAE</td>
                <td style="text-align: center">5% of Order Value</td>
                <td style="text-align: center">Order value > AED 1000</td>
              </tr>
              <tr>
                <td style="text-align: center">&nbsp;</td>
                <td style="text-align: center">&nbsp;</td>
                <td style="text-align: center">&nbsp;</td>
              </tr>
            </table>
          </div>
          <div style="width: 50px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Delivery Info",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_breadcrumb",
      "label": "Background Image BreadCrumb",
      "info": "1920x510px recommended"
    },
    {
      "type": "header",
      "content": "Introduce"
    },
    {
      "type": "paragraph",
      "content": "Please scroll to bottom and click Add content to add content for Introduce"
    },
    {
      "type": "checkbox",
      "id": "enable_intro",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "header",
      "content": "Service Box"
    },
    {
      "type": "paragraph",
      "content": "Please scroll to bottom and click Add content to add content for Introduce"
    },
    {
      "type": "checkbox",
      "id": "enable_s_servicebox",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image ServiceBox",
      "info": "1920x650px recommended"
    },
    {
      "type": "text",
      "id": "title_servicebox",
      "label": "Title",
      "default": "Reasons to shop with us"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "checkbox",
      "id": "enable_insta",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "title_icon",
      "label": "Icon title",
      "default": "icon-icon-intagram",
      "info": "[Get icon here](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
    },
    {
      "type": "text",
      "id": "title_content",
      "label": "Title",
      "default": "Instagram Feed"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "Description",
      "default": "Get Update & Emails From Us"
    },
    {
      "type": "text",
      "id": "ins_userid",
      "label": "User ID Instagram",
      "default": "3672948962"
    },
    {
      "type": "text",
      "id": "ins_access_token",
      "label": "Access Token Instagram",
      "default": "3672948962.0f64772.430edb7f711e4665b59777c54d1ed9ce"
    },
    {
      "type": "text",
      "id": "ins_limit_number",
      "label": "Limit Image",
      "default": "6"
    },
    {
      "type": "text",
      "id": "item_icon",
      "label": "Icon",
      "default": "fa fa-instagram",
      "info": "[Get icon here](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service V1",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": " FREE SHIPPING & RETURN"
        },
        {
          "type": "text",
          "id": "block_content",
          "label": "Content",
          "default": " If your glasses aren't perfect, return them within 30 days<br> for a full refund. We'll even pay shipping."
        }
      ]
    },
    {
      "type": "introduce",
      "name": "Introduce",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_intro",
          "label": "Image Introduce",
          "info": "670x600px recommended"
        },
        {
          "type": "text",
          "id": "title_intro",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "des_intro",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "content_intro",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Us",
      "blocks": [
      
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}

    .page-table tr{
        border: 1px solid #d4d7db;
        border-right-width: 0;
        border-left-width: 0;
    }
    .page-table td{
        border: 1px solid #d4d7db;
        border-top-width: 0;
        border-bottom-width: 0;
        padding: 10px;
    }
    .page-table tr:first-child{
      border-top: none;
    }
    .page-table tr:last-child{
        border-bottom: none;
    }
    .page-table td:first-child{
        border-left: none;
    }
    .page-table td:last-child{
        border-right: none;
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
