<div class="wrap-bread-crumb breadcrumb_collection2">
  <div class="text-center bg-breadcrumb">
    <div class="title-page">

      <h2 class="">{{page.title}}</h2>

    </div>
    {% include 'breadcrumb' %}
  </div>
</div>
<section>
  <div class="terms-of-service-pages">
    <div class="container container-v2">
      <div class="terms-of-service-container" style="padding: 10px 0; background-color: #dac181;">
        <div style="max-width: 900px;color: #FFFFFF;padding: 10px;margin: auto;text-align: center;">
          <h5>Privacy Policy Platforms</h5>
      
          <p>This privacy policy is applicable to all of concept-n.com customer facing platforms including concept-n.com website and concept-n.com mobile applications (“Platforms”). Any reference to “site” or “website” may also refer to platforms interchangeably.</p>
    
        </div>
        <div style="max-width: 900px;color: #FFFFFF;padding: 10px;margin: auto;text-align: center;">
          <h5>Privacy Policy Changes</h5>
      
          <p>This Privacy Policy may be subject to change from time to time. The current version of this Privacy Policy is posted online by concept-n.com</p>
      
          <p>You should check our Privacy Policy regularly. Your continued use of the concept-n.com website, application and services constitutes your agreement to this Privacy Policy, as amended from time to time</p>
        </div>
      </div>
      <div class="terms-of-service-text-container" style="justify-content: flex-start;">
        <div class="text-container" style="background-image: linear-gradient(90deg, #e7e7e7 33.33%, #0000ff00 30%);">
          
          <h5>Your rights</h5>
  
          <p>You have rights about your personal data:</p>
  
          <p>You have the right to be informed of any personal data which we may hold or process about you<br/>
          You have the right to request access to the personal data which we may hold or process about you<br/>
          You have the right to require us to correct any inaccuracies in your data free of charge<br/>
          You have the right to ask us to stop using your personal data for direct marketing purposes<br/>
          You have the right to ask us to erase your personal data or restrict the processing of your personal data<br/>
          You have the right to request us to transfer any personal data which we may hold to you or any other service provider of your choice.<br/>
          You have the right to lodge a complaint with the supervisory authority.</p>
          <p>Consent</p>
          <p>I hereby confirm that I have read and understood this Privacy Policy. By submitting data to concept-n.com or its agent(s) or by my using of
          concept-n.com website, applications or services, I voluntarily and expressly consent to concept-n.com collection, use, sharing of
          my data with all brands managed by Webhouse LLC, processing and retention in the manner set out in this Privacy Policy</p>
        </div>
      </div>
      <div class="terms-of-service-text-container reverse" style="justify-content: flex-end;justify-content: flex-end;">
        <div class="text-container" style="background-image: linear-gradient(270deg, #e7e7e7 33.33%, #0000ff00 30%);">
  
          <h5>Security</h5>
  
          <p>We have in place appropriate technical and security measures to prevent unauthorised or unlawful access to or accidental loss of or destruction or
          damage to your information. When we collect data through the Site, we collect your personal details on a secure server. We use firewalls on our servers.
          When we collect payment card details electronically, we use encryption by using Secure Socket Layer (SSL) coding. Whilst we are unable to guarantee 100% security,
          this makes it hard for a hacker to decrypt your details. You are strongly recommended not to send full credit or debit card details or any payment method in unencrypted
          electronic communications with us. We maintain physical, electronic and procedural safeguards in connection with the collection and disclosure of your information.
          Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you. You are responsible for protecting against unauthorised access to your password and to your computer.</p>
          
        </div>
      </div>
      <div class="terms-of-service-text-container" style="background-image: linear-gradient(90deg, #edece5 50%, #0000ff00 50%);justify-content: flex-start;">
        <div class="text-container">
      
          <h5>Log Information</h5>
  
  
          <p>Every time you visit any of concept-n.com Platforms, information is sent from your browser to our server log files, where it will be saved.
            The information transferred includes: time and date or visit to our site, which pages were viewed, IP address, URL of site that referred you to
            concept-n.com, how much information has been stored and which browser you have been using.</p>
  
          <p>Once we have all this information, all IP addresses are deleted or anonymized. Anonymization means that your IP address is changed in such a way that they either cannot be linked with the original user or can only be linked through extensive research.</p>
  
          <p>The anonymous information stored in this log file is then used to improve the shopping experience on the concept-n.com Platforms by making our navigation more user-friendly,
            finding errors quickly and directing our server’s capacity to where it is needed most. For example, this information allows us to work out our busiest times and plan enough server power for those times to keep our site running as quickly as possible.</p>
    
        </div>
      </div>
      
      <div class="terms-of-service-text-container reverse">
        <div class="text-container" style="max-width: 900px; padding: 40px 40px 40px 40px; text-align: center">
          
          <h5>Cookies</h5>
  
          <p>It is not necessary to accept cookies to visit our Platforms. However, if you would like to place an order or add an item to your shopping basket, you will need to set your browser to accept cookies so you can use the shopping basket and checkout functions.</p>
    
        </div>
      </div>
      <div class="terms-of-service-text-container duel">
        <div class="text-container" style="background-color: #dac181;">
      
          <h5>What are Cookies?</h5>
          
          <p>Cookies and flash cookies are small files that are saved on your data carrier which store specific information about your preferred settings and any other data that our system needs when interacting with your browser.
            Cookies help us to tailor our Platforms to suit you and to reflect your tastes and your browsing habits. They also allow us to save any information you have entered so you don’t have to enter it all again the next time you visit.</p>
  
          <p>Cookies enable our system to recognise that you’ve visited our Platforms before and to remember which settings (like language preference) and products you preferred. Temporary/permanent cookies have a lifespan,
            after which they will be automatically deleted. Cookies allow us to collect and analyse data to come up with strategies to improve our Platforms. This makes our Platforms easier for our customers to use and helps us to
            provide you with personal recommendation of products you may like. Our aim is to offer you a fun, easy shopping experience on our Platforms that is tailored to your tastes.</p>
          
        </div>
        <div class="text-container" style="background-color: #dde2e7;">
    
          <h5>What kind of cookies does concept-n.com use?</h5>
  
  
          <p>We may use any of the following types of cookies on our Platforms:</p>
  
          <p>Session cookies - these cookies are deleted at the end of your browser session and are used to enable you to use our site and it’s features e.g. “Wishlist” and “Shopping bag”
          Analytics cookies- these cookies enable us to analyse how you are using our site and come up with strategies to make your shopping experience even better
          Customer preference cookies- we use these cookies to remember your product and account preferences to offer you an even more personalised shopping experience. To be able to do this, though, these cookies may remain on your computer even after you have quit the browser.
          Customer targeting and advertising cookies- we use these cookies to show you ads that are relevant to you based on your preferences. These cookies also enable us to control the number of times you view an ad and gauge the efficacy of our marketing campaigns.<br/>
          What kind of information is stored in cookies?<br/>
          The cookies we use are never used to store any personal information. Therefore our cookies cannot be traced back to an individual user. Once a cookie is activated, it is given an ID number,
            which is solely used for internal reference and cannot be used to identify the user or access any personal information, such as your name or IP address. The anonymised information we receive
            from the cookies allows us to assess which pages of our site are visited the most and see which products were most popular etc.</p>
  
        </div>
      </div>
      <div class="terms-of-service-text-container duel">
        <div class="text-container" style="background-color: #e7e7e7;">
      
          <h5>What is on-site targeting?</h5>
  
  
          <p>We gather information that could be useful in tailoring our adverts and online offer to our customers. This information is not used to identify you as a user;
            it is solely used for the optimization of our website. Information collected by our cookies is not stored with our customer’s personal information or order information,
            it is only used to provide our users with adverts and/or notification of offers and services that are suited to their individual tastes, using click stream analysis
            (e.g. adverts for reduced trainers if a customer has been browsing our sports shoe selection). Our goal is to provide you with a shopping experience suited to your tastes and shopping preferences.</p>
    
        </div>
        <div class="text-container" style="background-color: #edece5;">
      
          <h5>Does concept-n.com use third party cookies?</h5>
  
  
          <p>Cookies from specific business partners are allowed by us for the purpose of tailoring their adverts to your tastes and browsing habits,
            so cookies from some of our partners may be stored on your computer when you visit our site. These cookies are temporary/permanent cookies,
            which will be automatically deleted from your computer at the end of their lifespan (14 days to 2 years). As with our cookies,
            these third party cookies do not collect any personal information. The data stored is collected at certain times, allowing these companies to see which
            products have been viewed most frequently but this is done completely anonymously under randomly designated user ID numbers. Therefore, this data will never
            be pooled with any personal information you have given to us. Third party cookies have the sole purpose of allowing our partners to advertise products that may interest you.</p>
    
        </div>
      </div>
  
      <div class="terms-of-service-text-container reverse">
        <div class="text-container" style="max-width: 900px; padding: 40px 40px 40px 40px; text-align: center">
      
          <h5>Re-targeting</h5>
  
  
          <p>Our website uses retargeting, which allows us to make our online offer more interesting for you. Retargeting technology means we can advertise recently viewed and related products on our partners’ websites, meaning our adverts, even on other companies’ sites,
            are relevant to what you would like to see. We do this by analysing user behaviour from data collected by our cookies. Even this kind of information is anonymous, with no personal information being stored and no user profiles.</p>
    
        </div>
      </div>
  
      <div class="terms-of-service-text-container reverse">
        <div class="text-container" style="max-width: 900px; padding: 40px 40px 40px 40px; background-color: #e6e0e6">
      
          <h5>How can I prevent cookies from being stored on my computer?</h5>
  
  
          <p>You can change the settings in your browser to ask for your permission every time a cookie tries to access your computer.
            If you would like to accept our cookies but block our partners’ cookies, you can set your browser to block third party cookies.</p>
  
          <p>Usually, your browser’s help section will provide information on how to change your cookie settings.</p>
  
          <p>We recommend only changing the browser setting for your profile on shared computers.</p>
  
          <p>The Platforms use technology from third party services providers such as Google, Facebook etc.
            through which data is collected and stored for marketing and optimisation purposes and data use profiles are prepared under a pseudonym.
            Cookies may be used for this. The cookies enable recognition of the Internet browser. The data collected is not used, without separate authorisation by the person concerned,
            to personally identify the visitors to this website and is not collated with personal data on the pseudonym holder. The permission for data recording and storage may at any time be cancelled with on-going effect.</p>
  
          <p>The Platforms use for example, Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses cookies,
            which are text files placed on your computer, to help the website analyse how users use the site. The information generated by the cookie about your use of the website (including your IP address)
            will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity
            for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where
            such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate
            settings on your browser, however please note that if you do this, you may not be able to use the full functionality of this website.</p>
  
          <p>By using our Platforms, you consent to the processing of data about you by our third party services providers in the manner and for the purposes set out above.</p>
    
        </div>
      </div>
      <div class="terms-of-service-text-container big">
        <div class="text-container" style="padding: 20px;">
      
          <h5 class="highlight">Data that we collect from you</h5>
  
  
          <p>All credit/debit cards details or any payment method and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.<br/>
          The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements and standards. Therefore the Customers’ are encouraged to frequently visit these sections in order to be updated about the changes on the website. Modifications will be effective on the day they are posted.<br/>
          Some of the advertisements you see on the Site are selected and delivered by third parties, such as ad networks, advertising agencies, advertisers, and audience segment providers. These third parties may collect
            information about you and your online activities, either on the Site or on other websites, through cookies, web beacons, and other technologies in an effort to understand your interests and deliver to you advertisements that are tailored to your interests.
            Please remember that we do not have access to, or control over, the information these third parties may collect. The information practices of these third parties are not covered by this privacy policy.<br/>
          We may collect various information if you seek to place an order for a product to us on any of our Platforms.</p>
  
          <p>We collect, process your data for processing your purchase on our Platforms and any possible later claims, and to provide you with our services. We may collect your title, name, gender, email address, postal address, delivery address (if different), telephone number, mobile number, fax number, payment details, payment card details or bank account details.</p>
  
          <p>We also collect your device information including device IDs and any other personally identifiable information used to access
            concept-n.com to enhance your user experience by making improvements to our Platforms to customize it to your preferences. This information is also used for fraud detection and prevention.</p>
  
          <p>We will use the information you provide to enable us to process your orders and to provide you with the services and information offered through our
            Platforms and which you request. Further, we will use the information you provide to administer your account with us; handle returns and size change requests;
            verify and carry out financial transactions in relation to payments you make online, refunds and fraud detection and prevention; audit the downloading of data from our platforms;
            improve the layout and/or content of the pages of our platforms and customize them for users; identify visitors on our apps and website; carry out research on our users’ demographics;
            send you information we think you may find useful or which you have requested from us, including information about our products and services, provided you have indicated that you have not objected to being contacted for these purposes.</p>
  
          <p>Subject to obtaining your consent we may contact you by email with details of other products and services. If you prefer not to receive any marketing communications from us, you can opt out at any time.</p>
  
          <p>We may pass your name, phone number and address on to a third party in order to make delivery of the product to you (for example to our courier or supplier).</p>
  
          <p>Your phone number and email address may be used for notifications regarding order status and announcements of the latest deals and campaigns.</p>
  
          <p>We may use the information we collect to conduct customer service related analyses, train our Customer Service agents and to provide you with the right customer support so that you receive the best customer experience from concept-n.com.</p>
  
          <p>Payments that you make through our platforms will be processed by our agent. You must only submit to us or our Agent or the Site information which is accurate and not misleading and you must keep it up to date and inform us of changes.</p>
  
          <p>Your actual order details may be stored with us but for security reasons cannot be retrieved directly by us. However, you may access this information by logging into your account on any of our Platforms.
            Here you can view the details of your orders that have been completed, those which are open and those which are short to be dispatched and administer your address details,
            bank details and any newsletter to which you may have subscribed. You undertake to treat the personal access data confidentially and not make it available to unauthorized third parties.
            We cannot assume any liability for the misuse of passwords unless this misuse is our fault.</p>
      
          <p>Minors under the age of 18 shall are prohibited to register as a User of this website and are not allowed to transact or use the website.<br/>
            Any dispute or claim arising out of or in connection with this website shall be governed and construed in accordance with the laws of UAE.<br/>
            United Arab Emirates is our country of domicile.<br/>
            If you make a payment for our products or services on our website, the details you are asked to submit will be provided directly to our payment provider via a secured connection.<br/>
            The cardholder must retain a copy of transaction records and Merchant policies and rules.<br/>
            We accept payments online using Visa and Master credit/debit card in AED (or any other agreed currencies).<br/>
            Some of the products that we sell may be considered more appropriate to adults and could be subject to age or other restrictions in some countries. You must comply with all applicable laws and regulations of the country
            for which the products are destined. We will not be liable or responsible if you break any such law. By placing an order with us, you are confirming that you are of the appropriate legal age to purchase the items.
            If we discover that you are not legally entitled to order certain products, we will not be obliged to complete the order.
            We also recommend you view our Privacy Policy. Please click here.</p>
    
        </div>
      </div>
      <div class="terms-of-service-text-container" style="justify-content: flex-start;">
        <div class="text-container" style="background-image: linear-gradient(90deg, #e7e7e7 33.33%, #0000ff00 30%);">
      
          <h5>Legitimate Purpose</h5>
  
          <p>We may keep your information even after you have closed your account and are no longer availing our services to detect and prevent fraud, meet our legal/compliance/regulatory requirements, resolve any disputes and enforce our privacy policies and terms and conditions.</p>
    
        </div>
      </div>
      <div class="terms-of-service-text-container reverse" style="justify-content: flex-start;">
        <div class="text-container" style="background-image: linear-gradient(270deg, #e7e7e7 33.33%, #0000ff00 30%); max-width: 900px">
      
          <h5>Credit Check and Fraud Prevention</h5>
  
          <p>We may use fraud prevention agencies (FPA) to help us make decisions as to whether to accept an order for products on our Platforms. A condensed guide as to how we, FPAs will use your information is detailed below. If you would like to see more information about this, or the agencies we use, please contact us.</p>
  
          <p>We will use your data in the following ways:</p>
  
          <p>We will search at FPAs for information on those placing orders for products on our platforms.</p>
  
          <p>We will use the information provided to us by FPAs to help make decisions about all those placing orders for products on our Platforms.</p>
  
          <p>If you give us false or inaccurate information and we identify fraud, details may be passed to FPAs. (and we have the right to not process the orders).</p>
  
          <p>Other uses of your personal information</p>
  
          <p>We may use your personal information for opinion and market research. Your details are anonymous and will only be used for statistical analysis. You can choose to opt out of this at any time.
            Any answers to surveys or opinion polls we may ask you to complete will not be forwarded on to third parties. Disclosing your email address is only necessary if you would like to take part in competitions.
            We save the answers to our surveys separately from your email address.</p>
  
          <p>We may also send you other information about us, our Platforms, our other websites, our products, sales promotions, our newsletters, anything relating to other companies in our group or our business partners.</p>
  
          <p>If you would prefer not to receive any of this additional information as detailed in this paragraph (or any part of it) please click the ‘unsubscribe’ link in an email that we send to you or send a
            communication to us via the Contact Us form available on each article within the Help Center, asking us to unsubscribe you from that particular email. Within 7 working days (days which are neither a
            Saturday or Sunday or (ii) a public holiday anywhere in The United Arab Emirates) of receipt of your instruction, we will cease to send you information as requested. If your instruction is unclear, we will contact you for clarification.</p>
  
          <p>Please note that we will continue to share service level communication with you, even if you opt out of receiving additional information from us.
            Our service level communication enables us to fulfill our promise to you by communicating your order confirmation, shipment messages etc.</p>
  
          <p>We may further anonymize data about users on our platforms generally and use it for various purposes, including ascertaining the general location of the users and usage of certain
            aspects of the apps or Site or a link contained in an email to those registered to receive them, and supplying that anonymized data to third parties such as publishers. This data is
            also used for research purposes, systems improvements, site and app improvements and offering you the best products. However, anonymized data will not be capable of identifying you personally.</p>
        </div>
      </div>
      <div class="terms-of-service-text-container" style=" margin-bottom: 40px;justify-content: flex-start;">
        <div class="text-container" style="background-image: linear-gradient(90deg, #f8f3e6 33.33%, #0000ff00 30%);">
      
          <h5>Competitions</h5>
  
          <p>For any competition, we use the data to notify the winners and advertise our offers. You can find more details where applicable in our participation terms for the respective competition.</p>
    
        </div>
      </div>
      
      
      
      
      <div style="max-width: 1170px; margin-right: auto; background-color: #e7e7e7; margin-bottom: 0px;">
        <div class="terms-of-service-text-container reverse overflow">
          <div class="text-container" style="max-width: 900px;">
        
            <h5>Third Parties and Links</h5>
  
  
            <p>We may share collected personally identifying information (including email addresses) with other companies in our group and for commercial purposes - such as advertising.
              We may also pass your details to our agents and subcontractors to help us with any of our uses of your data set out in our Privacy Policy. For example, we may use third parties to assist us with delivering products to you,
              to help us to collect payments from you, to analyse data, and to provide us with marketing or customer service assistance. We may exchange information with third parties for the purposes of fraud protection and credit risk reduction.
              We may transfer our databases containing your personal information if we sell our business or part of it.</p>
          </div>
        </div>
      </div>
      <div class="terms-of-service-text-container big">
        <div class="text-container" style="padding: 20px;">
          <p>Your information may also be shared with companies approved by you e.g. your social media sites. Our platforms may contain advertising of third parties and links to other sites or frames of other sites.
            Please be aware that we are not responsible for the privacy practices or content of those third parties or other sites, nor for any third party to whom we transfer your data in accordance with our Privacy Policy.</p>
  
          <p>We also target our ads and other marketing content to you while you are on our Platforms based on the information we have on you, your browsing history on concept-n.com and your previous transactions with concept-n.com.</p>
  
          <p>Other than as set out in this Privacy Policy, we shall NOT sell or disclose your personal data to third parties without obtaining your prior consent unless this is necessary for the purposes set out in this Privacy Policy or unless we are required to do so by law.</p>
    
        </div>
      </div>
      <div style="max-width: 1170px; margin-left: auto; background-color: #edece5;">
        <div class="terms-of-service-text-container overflow">
          <div class="text-container" style="max-width: 900px;">
        
            <h5>Third Parties and Links</h5>
  
  
            <p>We may share collected personally identifying information (including email addresses) with other companies in our group and for commercial purposes - such as advertising.
              We may also pass your details to our agents and subcontractors to help us with any of our uses of your data set out in our Privacy Policy. For example,
              we may use third parties to assist us with delivering products to you, to help us to collect payments from you, to analyse data, and to provide us with marketing or customer service assistance.
              We may exchange information with third parties for the purposes of fraud protection and credit risk reduction. We may transfer our databases containing your personal information if we sell our business or part of it.</p>
          </div>
        </div>
      </div>
      <div class="terms-of-service-text-container big">
        <div class="text-container" style="padding: 20px;">
  
          <p>Your information may also be shared with companies approved by you e.g. your social media sites. Our platforms may contain advertising of third parties and links
            to other sites or frames of other sites. Please be aware that we are not responsible for the privacy practices or content of those third parties or other sites, nor for any third party to whom we transfer your data in accordance with our Privacy Policy.</p>
  
          <p>We also target our ads and other marketing content to you while you are on our Platforms based on the information we have on you, your browsing history on concept-n.com and your previous transactions with concept-n.com.</p>
  
          <p>Other than as set out in this Privacy Policy, we shall NOT sell or disclose your personal data to third parties without obtaining your prior consent unless this is necessary for the purposes set out in this Privacy Policy or unless we are required to do so by law.</p>
    
        </div>
      </div>
      <div class="terms-of-service-text-container big">
        <div class="text-container" style="padding: 20px;">
      
          <h5 class="highlight">Use of Facebook Social Plugins</h5>
  
  
          <p>Our Platforms use social plugins (“plugins”) provided by the social network facebook.com, operated by Facebook Inc., 1601 S. California Avenue, Palo Alto, CA 94304, USA (“Facebook”). The plugins are identifiable by a Facebook logo or
            the notice “Facebook Social Plugin”. For a full list of all social plugins and their appearance please see developers.facebook.com/plugins.</p>
  
          <p>When you visit a page of our platforms that contains a social plugin, your browser establishes a direct connection to Facebook servers. Facebook directly transfers the plugin content to your browser, which embeds the latter into the website,
            enabling Facebook to receive information about your having accessed the respective page of the relevant platform. For this purpose, the internet address of the visited site (your IP address included) is transferred to a USA-based
            Facebook server where the data are stored. This occurs even if you do not have a Facebook account or are not logged into Facebook at the time.</p>
  
          <p>If you are logged into Facebook, your visit can be assigned to your Facebook account. If you interact with the plugins, for example by clicking “Like”, or entering a comment, the corresponding information is
            transmitted from your browser directly to Facebook and stored by it. The information can also be published on Facebook and shown to your Facebook friends.</p>
  
          <p>If you are a Facebook member and do not want Facebook to connect the data concerning your visit to our platforms with your member data already stored by Facebook, please log off Facebook before entering our Platforms.
            You can also block Facebook social Plugins by using add-ons for your browser, like the “Facebook Blocker”.</p>
  
          <p>For information on the purpose and scope of data collection by Facebook and how it is processed and used, as well as your rights in this respect and settings options for protecting your privacy, please visit Facebook’s privacy policy.</p>
    
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .terms-of-service-pages h5 {
      margin-bottom: 1rem;
  }
  .terms-of-service-pages h5.highlight{
      background-color: #dac1812e;
      padding: 10px 10px;
  }
  .terms-of-service-container {
      margin-bottom: 20px;
      padding: 10px;
  }
  .terms-of-service-text-container {
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      max-width: 900px;
      margin: auto;
  }
  .terms-of-service-text-container.overflow {
      margin-right: 270px;
      margin-left: 0px;
  }
  .terms-of-service-text-container.reverse.overflow {
      margin-left: 270px;
      margin-right: 0px;
  }
  .terms-of-service-text-container.reverse.overflow .text-container {
      padding: 30px 120px 30px 0px;
  }
  .terms-of-service-text-container.overflow .text-container {
      padding: 30px 0px 30px 120px;
  }
  .terms-of-service-text-container.reverse {
      justify-content: flex-start;
  }
  .terms-of-service-text-container.duel {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
  }
  .terms-of-service-text-container.big .text-container {
      max-width: 900px;
      padding: 120px;
  }
  .terms-of-service-text-container.duel .text-container{
      margin: 20px 10px 0;
      padding: 50px;
      max-width: 50%;
  }
  .terms-of-service-text-container .text-container{
      max-width: 675px;
      padding: 30px 0px 30px 70px;

  }

  .terms-of-service-text-container.reverse .text-container{
      max-width: 675px;
      padding: 30px 70px 30px 0px;

  }
  
  @media (max-width: 990px) {

      .terms-of-service-text-container.duel {
          display: block;
      }
      .terms-of-service-text-container.duel .text-container{
          margin: 40px 0px;
          padding: 20px;
          max-width: unset;
      }
      .terms-of-service-text-container.big {
          max-width: 900px;
          padding: 0px;
      }
      .terms-of-service-text-container.big .text-container{
          margin: 0px;
          padding: 20px;
      }
      .terms-of-service-text-container.overflow {
          margin-left: 0px;
      }
      .terms-of-service-text-container.overflow .text-container {
          padding: 0px;
      }
      .terms-of-service-text-container.reverse.overflow .text-container {
          padding: 30px 20px 30px 20px;
      }
      .terms-of-service-text-container.overflow .text-container {
          padding: 30px 20px 30px 20px;
      }
      .terms-of-service-text-container.overflow {
          margin-right: 0px;
          margin-left: 0px;
      }
      .terms-of-service-text-container.reverse.overflow {
          margin-left: 0px;
          margin-right: 0px;
      }
      .terms-of-service-container {
          flex-direction: column;
      }
      .terms-of-service-text-container .text-container{
          padding: 30px 0px 30px 0px;

      }

      .terms-of-service-text-container.reverse .text-container{
          padding: 30px 0px 30px 0px;

      }
</style>
{% schema %}
{
  "name": "Privacy Policy",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_breadcrumb",
      "label": "Background Image BreadCrumb",
      "info": "1920x510px recommended"
    },
    {
      "type": "header",
      "content": "Introduce"
    },
    {
      "type": "paragraph",
      "content": "Please scroll to bottom and click Add content to add content for Introduce"
    },
    {
      "type": "checkbox",
      "id": "enable_intro",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "header",
      "content": "Service Box"
    },
    {
      "type": "paragraph",
      "content": "Please scroll to bottom and click Add content to add content for Introduce"
    },
    {
      "type": "checkbox",
      "id": "enable_s_servicebox",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image ServiceBox",
      "info": "1920x650px recommended"
    },
    {
      "type": "text",
      "id": "title_servicebox",
      "label": "Title",
      "default": "Reasons to shop with us"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "checkbox",
      "id": "enable_insta",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "title_icon",
      "label": "Icon title",
      "default": "icon-icon-intagram",
      "info": "[Get icon here](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
    },
    {
      "type": "text",
      "id": "title_content",
      "label": "Title",
      "default": "Instagram Feed"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "Description",
      "default": "Get Update & Emails From Us"
    },
    {
      "type": "text",
      "id": "ins_userid",
      "label": "User ID Instagram",
      "default": "3672948962"
    },
    {
      "type": "text",
      "id": "ins_access_token",
      "label": "Access Token Instagram",
      "default": "3672948962.0f64772.430edb7f711e4665b59777c54d1ed9ce"
    },
    {
      "type": "text",
      "id": "ins_limit_number",
      "label": "Limit Image",
      "default": "6"
    },
    {
      "type": "text",
      "id": "item_icon",
      "label": "Icon",
      "default": "fa fa-instagram",
      "info": "[Get icon here](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service V1",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": " FREE SHIPPING & RETURN"
        },
        {
          "type": "text",
          "id": "block_content",
          "label": "Content",
          "default": " If your glasses aren't perfect, return them within 30 days<br> for a full refund. We'll even pay shipping."
        }
      ]
    },
    {
      "type": "introduce",
      "name": "Introduce",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_intro",
          "label": "Image Introduce",
          "info": "670x600px recommended"
        },
        {
          "type": "text",
          "id": "title_intro",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "des_intro",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "content_intro",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Us",
      "blocks": [
      
      ]
    }
  ]
}
{% endschema %}
{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
