<div class="wrap-bread-crumb breadcrumb_collection2">
  <div class="text-center bg-breadcrumb">
    <div class="title-page">

      <h2 class="">{{page.title}}</h2>

    </div>
    {% include 'breadcrumb' %}
  </div>
</div>
<section>
  <div class="aboutus-pages">
    <div class="container container-v2" style="
        background-image : url({{ 'return-info-bg.png' | asset_url }});
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: contain;">
      <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap; margin-bottom: 150px;">
        <div style="width: 50px;background-color: #dde2e7;"></div>
        <div style="flex-grow: 1;max-width: 1000px; padding: 10px">
          <h5>Returns:</h5>
          <p>For orders fulfilled by us, items can only be returned for a refund if they are unopened, unused and in a re-saleable condition with all tamper-resistant seals, packaging and any cellophane intact. You must notify us in writing that you are returning your purchase within 14 days, since the date of delivery of concerned order.<br/>
          Please ensure that you also return any free gifts that are associated with your return items or the related order. If the free gift isn’t returned, then we reserve the right to deduct the value of the free gift from your refund.<br/>
          We recommend a photograph is taken of the item prior to returning it if you are concerned about damage during its return journey.</p>
          Please click here to contact us and start your return process using our returns service. Please mention your order number or your registered email ID and reason for return. Your order number can be found within your account.<br/>
          Your refund will be processed, once the returned shipment has been delivered to us. Refunds can take up to 1-3 weeks to show on your account; this is due to the time taken by some banks to process the payment.<br/>
          Returning your order with non-faulty items is chargeable additional to your delivery charges.<br/>
          Our return charges starting from AED 40 from UAE, KSA, Bahrain, Oman, Qatar, Kuwait.<br/>
          Return charges will be adjusted to the refund amount based on the payment method.</p>
        </div>
        <div style="width: 50px"></div>
      </div>
      <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap; margin-bottom: 150px;">
        <div style="width: 50px;background-color: #e7e7e7;"></div>
        <div style="flex-grow: 1;max-width: 910px; padding: 10px">
  
          <h5>Missing item:</h5>
          <p>Please accept our apologies if you do not receive all the items you ordered, this rarely happens during seasonal offers, Please click here to contact us and share your order number, item name, quantity, and invoice copy. Our customer service team will assist you immediately.</p>
          <p>Missing items should be reported maximum within 48 hrs. from the day the shipment is received.</p>
        </div>
        <div style="width: 50px"></div>
      </div>
      <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap; margin-bottom: 150px;">
        <div style="width: 50px;background-color: #edece5;"></div>
        <div style="flex-grow: 1;max-width: 910px; padding: 10px">
  
          <h5>Damaged item:</h5>
  
          <p>Please accept our apologies if you receive a damaged item, which rarely happens during delivery as all of our products have the same storage instructions as medical fragile products and will be delivered by
            an air-conditioned vehicle. In case you receive any unusable item, Please click here to contact us and share the order number, item name, quantity, and photo for each item you want to return. Our customer service team will assist you immediately.<br/>
          Please do not throw away the damaged item, it will be returned to be checked by our technical team to prevent this from happening again in the future.<br/>
          Damaged items should be reported maximum within 48 hrs. from the day the shipment is received.</p>
        </div>
        <div style="width: 50px"></div>
      </div>
      <div style="overflow-x: auto;display: flex;flex-direction: row;flex-wrap: nowrap;">
        <div style="width: 50px;background-color: #e6e0e6;"></div>
        <div style="flex-grow: 1;max-width: 1000px; padding: 10px">
          <h5>COD:</h5>
          <p>Cash On Delivery orders can only be refunded with a gift voucher.</p>
          <p>Cash On Delivery fee is non-refundable.</p>
        </div>
        <div style="width: 50px"></div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Return Info",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_breadcrumb",
      "label": "Background Image BreadCrumb",
      "info": "1920x510px recommended"
    },
    {
      "type": "header",
      "content": "Introduce"
    },
    {
      "type": "paragraph",
      "content": "Please scroll to bottom and click Add content to add content for Introduce"
    },
    {
      "type": "checkbox",
      "id": "enable_intro",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "header",
      "content": "Service Box"
    },
    {
      "type": "paragraph",
      "content": "Please scroll to bottom and click Add content to add content for Introduce"
    },
    {
      "type": "checkbox",
      "id": "enable_s_servicebox",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image ServiceBox",
      "info": "1920x650px recommended"
    },
    {
      "type": "text",
      "id": "title_servicebox",
      "label": "Title",
      "default": "Reasons to shop with us"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "checkbox",
      "id": "enable_insta",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "title_icon",
      "label": "Icon title",
      "default": "icon-icon-intagram",
      "info": "[Get icon here](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
    },
    {
      "type": "text",
      "id": "title_content",
      "label": "Title",
      "default": "Instagram Feed"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "Description",
      "default": "Get Update & Emails From Us"
    },
    {
      "type": "text",
      "id": "ins_userid",
      "label": "User ID Instagram",
      "default": "3672948962"
    },
    {
      "type": "text",
      "id": "ins_access_token",
      "label": "Access Token Instagram",
      "default": "3672948962.0f64772.430edb7f711e4665b59777c54d1ed9ce"
    },
    {
      "type": "text",
      "id": "ins_limit_number",
      "label": "Limit Image",
      "default": "6"
    },
    {
      "type": "text",
      "id": "item_icon",
      "label": "Icon",
      "default": "fa fa-instagram",
      "info": "[Get icon here](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service V1",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": " FREE SHIPPING & RETURN"
        },
        {
          "type": "text",
          "id": "block_content",
          "label": "Content",
          "default": " If your glasses aren't perfect, return them within 30 days<br> for a full refund. We'll even pay shipping."
        }
      ]
    },
    {
      "type": "introduce",
      "name": "Introduce",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_intro",
          "label": "Image Introduce",
          "info": "670x600px recommended"
        },
        {
          "type": "text",
          "id": "title_intro",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "des_intro",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "content_intro",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Us",
      "blocks": [
      
      ]
    }
  ]
}
{% endschema %}
{% stylesheet %}
    .page-table tr{
        border: 1px solid #d4d7db;
        border-right-width: 0;
        border-left-width: 0;
    }
    .page-table td{
        border: 1px solid #d4d7db;
        border-top-width: 0;
        border-bottom-width: 0;
        padding: 10px;
    }
    .page-table tr:first-child{
      border-top: none;
    }
    .page-table tr:last-child{
        border-bottom: none;
    }
    .page-table td:first-child{
        border-left: none;
    }
    .page-table td:last-child{
        border-right: none;
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
